div.App {
    margin: 1em;
}

div#selectors {
    display: flex;
    align-items: center;
    justify-content: center;
}

span#selection {
    padding: 1em;
    color: white;
}

button {
    background-color: rgba(211, 211, 211, 0.5);
    border: none;
    color: #1D2433;
    width: 1.5em;
    height: 1.5em;
    cursor: pointer;
}

button.hide {
    visibility: hidden;
}