div#cubeWrapper {
    display: grid;
    place-items: center;
}

div#cube {
    display: grid;
    grid-template-areas:
        'blank face0 blunk'
        'blank face4 blunk'
        'face2 face5 face3'
        'blink face1 blonk';
    grid-template-columns: 8em 8em 8em;
    grid-template-rows: 8em 8em 8em 8em;
    row-gap: 1em;
    column-gap: 1em;
}