div.square.c0 {
    background-color: #ffffff;
}

div.square.c1 {
    background-color: #ffd500;
}

div.square.c2 {
    background-color: #009b48;
}

div.square.c3 {
    background-color: #0045ad;
}

div.square.c4 {
    background-color: #b90000;
}

div.square.c5 {
    background-color: #ff5900;
}