div.square.c0 {
    background-color: white;
}

div.square.c1 {
    background-color: yellow;
}

div.square.c2 {
    background-color: green;
}

div.square.c3 {
    background-color: blue;
}

div.square.c4 {
    background-color: red;
}

div.square.c5 {
    background-color: orange;
}